@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Сотрудники";
    Layout = "_Layout";
}

<div class="container">
<hr />
<a asp-action="Edit" class="btn btn-success">Добавить</a>
<hr />

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Возраст</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id">
                        <i class="fa fa-refresh"></i>
                    </a>
                </td>
                <td>@item.SecondName</td>
                <td>@item.FirstName</td>
                <td>@item.Patronymic</td>
                <td>@item.Age</td>
                <td>
                    <a asp-action="EmployeeCard"
                       asp-route-id=@item.Id>
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete"
                       asp-route-id="@item.Id">
                        <i class="fa fa-cut"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>